@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-[#f5f5f5];
    @apply text-xs;
    @apply h-[3000px];
  }
  main {
    @apply h-full;
  }
}

@layer components {
  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .hover-underline-animation.active::after {
    transform: scaleX(1);
  }
}
